<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind">   
    <link rel="icon" href="images/favicon-16x16.png" type="image/png" sizes="16x16">        
  </head>
  <body>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p><h2 class="text-center">Payment</h2></p>    
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <div id="payment1"><form action="stripe1" method="POST"> <script  src="https://checkout.stripe.com/checkout.js" class="stripe-button"  data-key=pk_test_6pRNASCoBOKtIshFeQd4XMUh  data-amount=12345 data-name=A data-description=A  data-image=A  data-locale="auto"> </script> </form> </div>
              <div id="payment2"></div>
              <div id="payment3"></form> </div>
          </div>
        </div>
      </div>
    </div>

    <section>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </section>  
  
  </body>
</html>
