<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind">           
  </head>
  <body>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p><h2 class="text-center">Payment</h2></p>    
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <div id="payment1"></div>
              <div id="payment2"></div>
              <div id="payment3"></div>
          </div>
        </div>
      </div>
    </div>

    <section>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </section>  
  
  </body>
</html>
